@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .px24 {
    @apply text-2xl tracking-[-0.75px] font-bold;
  }
  .px15 {
    @apply tracking-[-0.25px] font-bold;
    font-size: 0.9375rem;
    line-height: 0.9375rem;
  }
  .px13 {
    @apply tracking-[-0.1px] font-medium;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
  }
  .edit {
    @apply h-12 bg-ghostwhite text-07 px15 px-6 rounded-3xl flex items-center justify-center;
  }
  .addnew {
    @apply h-12 bg-ghostwhite text-07 px15 px-28 rounded-3xl flex items-center justify-center whitespace-nowrap;
  }
  .delete {
    @apply h-12 bg-delete text-white px15 px-6 rounded-3xl flex items-center justify-center;
  }
  .paid {
    @apply h-12 bg-01 text-white px15 px-6 rounded-3xl flex items-center justify-center whitespace-nowrap;
  }
  .save {
    @apply h-12 bg-01 text-white px15 px-4 rounded-3xl flex items-center justify-center whitespace-nowrap;
  }
  .savedraft {
    @apply h-12 bg-charcoal text-07 px15 px-4 rounded-3xl flex items-center justify-center whitespace-nowrap;
  }
  .discard {
    @apply h-12 bg-ghostwhite text-07 px15 px-4 rounded-3xl flex items-center justify-center whitespace-nowrap;
  }
}
